aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
ast-serialize==0.6.0
attrs==26.1.0
audioop-lts==0.2.2
discord-py==2.7.1
frozenlist==1.8.0
idna==3.18
iniconfig==2.3.0
librt==0.13.0
multidict==6.7.1
mypy==2.3.0
mypy-extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pluggy==1.6.0
propcache==0.5.2
pydeps==3.0.6
pygments==2.20.0
pytest==9.1.1
ruff==0.16.0
stdlib-list==0.12.0
typing-extensions==4.16.0
yarl==1.24.5
